<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">

<% @users.each do |user| %> 

  <div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
    <div class="px-6 py-4">
    <h1 class="text-xl font-semibold text-gray-900 text-center my-2">
        <%= user.name %> <br>
    </h1>
    <h2 class="text-xl font-light text-gray-700 text-center my-2">
        <%= user.username%> <br>
    </h2>
    <h3 class="text-lg font-light text-gray-800 my-2">
        Created events: 
    </h3>
    <ul class="list-disc">
      <% user.created_events.each do |event| %>
        <li><%= link_to event.name, event, class: "text-blue-400 underline hover:text-blue-700 "%> </li>
      <% end %>
    </ul>
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
    </div>
  </div>

<% end %>

</div>
